@{
    ViewData["Title"] = "Home Page";
}

<div data-v-c0e5239e="" class="main">
                    <div data-v-571b6275="" data-v-c0e5239e="" class="entrance">
                        <div data-v-571b6275="" data-aos="fade-up" data-aos-offset="200" data-aos-delay="20" data-aos-duration="600" data-aos-easing="linear" data-aos-mirror="false" data-aos-once="true" class="container aos-init aos-animate">
                            <div data-v-571b6275="" class="row">
                                <div data-v-571b6275="" class="col-md-6 col-12">
                                    <div data-v-571b6275="" class="text">
                                        <h3 data-v-571b6275="">
                                            Ushbu sayt orqali <br />
                                            Barcha Mebel turlarini tamirlatishingz mumkun
                                        </h3>
                                        <ul data-v-571b6275="">
                                            <li data-v-571b6275="">Oshxona Mebeli</li>
                                            <li data-v-571b6275="">Yotoqxona Mebeli</li>
                                            <li data-v-571b6275="">Bolajonlar Mebeli</li>
                                            <li data-v-571b6275="">Mebellarni o'rnatib berish</li>
                                            <li data-v-571b6275="">Mebellarni buyutmaga qarab tayorlash </li>
                                        </ul>
                                    </div>
                                </div>
                                <div data-v-571b6275="" class="col-md-6 col-12">
                                    <div data-v-571b6275="" class="img-wrapper"><img data-v-571b6275="" src="~/Image/entrance.png" alt="Entrance image" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img data-v-c0e5239e="" src="~/Image/round.9d05e0e.png" alt="" class="round" />
                    <div data-v-05b9d0d0="" data-v-c0e5239e="" class="about-us">
                        <div data-v-05b9d0d0="" data-aos="fade-up" data-aos-offset="200" data-aos-delay="20" data-aos-duration="300" data-aos-easing="linear" data-aos-mirror="false" data-aos-once="true" class="container aos-init aos-animate">
                            <div data-v-05b9d0d0="" class="card">
                                <img data-v-05b9d0d0="" src="~/Image/rocket.0aba5bc.svg" alt="" class="rocket" />
                                <div data-v-05b9d0d0="" class="row">
                                    <div data-v-05b9d0d0="" class="col-md-12 col-xl-6">
                                        <div data-v-05b9d0d0="" class="img-wrapper"><img data-v-05b9d0d0="" src="~/Image/jamoa.jpg" alt="" /></div>
                                    </div>
                                    <div data-v-05b9d0d0="" class="col-md-12 col-xl-6">
                                        <div data-v-05b9d0d0="" class="text">
                                            <h2 data-v-05b9d0d0="">Biz haqimizda</h2>
                                            <p data-v-05b9d0d0="">
                                                Eski mebellarni ta'mirlash va yangilash turlari 13.09.2017 Inson eski odatlarning ziddiyatlari, 
                                                yangi narsaga qaramlik va istaklarning ramzidir. U eski mebellarning qulayliklariga o'rganib qoladi, 
                                                lekin shu bilan birga uni qanday yangilashni, yangi qiyofa berishini va o'ziga xosligini bilishni istaydi. 
                                                Yangi mebel sotib olish, albatta, yaxshi g'oya, ammo "buyurtma asosida" ishlab chiqarilgan mebel juda qimmat. 
                                                Nega biz "qimmatbaho" mebellarni mustaqil ravishda ta'mirlashga harakat qilmaymiz? Buning ustiga, buni amalga oshirishning ko'plab usullari mavjud. 
                                                Keling, asosiy narsalar bilan tanishaylik ... Yopishtiruvchi vinil plyonka yoki lenta Yumshoq mebel ko'rinishini yangilashning eng oddiy usuli: shkaflar, 
                                                shkaflar, shkaflar va boshqalar. Sirtni yopishtiruvchi plyonka 
                                                bilan yopishtiring. Uni apparat do'konlari va bozorlardan sotib olish mumkin.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-35a88810="" data-v-c0e5239e="" id="directions" class="directions">
                        <div data-v-35a88810="" data-aos="fade-up" data-aos-offset="200" data-aos-delay="20" data-aos-duration="300" data-aos-easing="linear" data-aos-mirror="false" data-aos-once="true" class="container aos-animate aos-init">
                            <div data-v-35a88810="" class="title">
                                <div data-v-35a88810="" class="row">
                                    <div data-v-35a88810="" class="col-md-6 col-12">
                                        <div data-v-35a88810="" class="head">
                                            <img data-v-35a88810="" src="~/Image/search.249e114.png" alt="" />
                                        </div>
                                    </div>
                                    <div data-v-35a88810="" class="col-md-6 col-12"></div>
                                </div>
                            </div>
                            <div data-v-35a88810="" class="body">
                                <div data-v-35a88810="" class="row">
                                    <div data-v-35a88810="" class="col-xl-3 col-md-6 col-lg-4 col-12">
                                        <div data-v-35a88810="" class="card">
                                            <div data-v-35a88810="" class="img-wrapper"><img data-v-35a88810="" src="~/Image/dasturlash.png" alt="" class="design-w blog_icon"/></div>
                                            <div data-v-35a88810="" class="card-body">
                                                <p data-v-35a88810="">xona mebeli</p>
                                                <p data-v-35a88810="" class="text-muted">
                                                    Istalgan xona mebellari siz istagandek taimirlanadi
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-35a88810="" class="col-xl-3 col-md-6 col-lg-4 col-12">
                                        <div data-v-35a88810="" class="card">
                                            <div data-v-35a88810="" class="img-wrapper"><img data-v-35a88810="" src="~/Image/IT.png" alt="" class="design-w blog_icon"/></div>
                                            <div data-v-35a88810="" class="card-body">
                                                <p data-v-35a88810="">Stol turlari</p>
                                                <p data-v-35a88810="" class="text-muted">Stol mebellari siz istagandek taimirlanadi</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-35a88810="" class="col-xl-3 col-md-6 col-lg-4 col-12">
                                        <div data-v-35a88810="" class="card">
                                            <div data-v-35a88810="" class="img-wrapper"><img data-v-35a88810="" src="~/Image/dotnet.png" alt="" class="design-w blog_icon"/></div>
                                            <div data-v-35a88810="" class="card-body">
                                                <p data-v-35a88810="">Yotoqxona mebellari</p>
                                                <p data-v-35a88810="" class="text-muted">Yotoqxona mebellari siz istagandek taimirlanadi</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-35a88810="" class="col-xl-3 col-md-6 col-lg-4 col-12">
                                        <div data-v-35a88810="" class="card">
                                            <div data-v-35a88810="" class="img-wrapper"><img data-v-35a88810="" src="~/Image/design.png" alt="" class="design-w blog_icon"/></div>
                                            <div data-v-35a88810="" class="card-body">
                                                <p data-v-35a88810="">Mehmonxona mebellari</p>
                                                <p data-v-35a88810="" class="text-muted">Mehmonxona mebellari siz istagandek taimirlanadi.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img data-v-35a88810="" src="~/Image/plant.2aac157.png" alt="" class="plant" />
                    </div>

                    <div data-v-04cc4206="" data-v-c0e5239e="" class="teachers">
                        <img data-v-04cc4206="" src="~/Image/teacher-back.bf32879.jpg" alt="" class="teacher-back" />
                        <div data-v-04cc4206="" data-aos="fade-up" data-aos-offset="200" data-aos-delay="20" data-aos-duration="300" data-aos-easing="linear" data-aos-mirror="false" data-aos-once="true" class="container aos-init aos-animate">
                            <div data-v-04cc4206="" class="title d-flex align-items-center justify-content-between">
                                <h3 data-v-04cc4206="" class="mb-0">Asosiy katta ustalar</h3>
                                <div data-v-04cc4206="" class="arrows d-flex align-items-center justify-content-between mr-3">
                                    <div data-v-04cc4206="" class="slide-arrow">
                                        <svg data-v-04cc4206="" width="34" height="13" viewBox="0 0 34 13" fill="none" xmlns="http://www.w3.org/2000/svg" class="slick-arrow-prev" style="cursor: pointer;">
                                            <path
                                                data-v-04cc4206=""
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M5.67755 1.21876L0.727806 5.97188C0.424065 6.26355 0.424065 6.73645 0.727806 7.02812L5.67755 11.7812C5.98129 12.0729 6.47375 12.0729 6.7775 11.7812C7.08124 11.4896 7.08124 11.0167 6.7775 10.725L3.1555 7.24688H32.7531C33.1656 7.24688 33.5 6.91249 33.5 6.5C33.5 6.08751 33.1656 5.75312 32.7531 5.75312H3.1555L6.7775 2.27501C7.08124 1.98333 7.08124 1.51043 6.7775 1.21876C6.47375 0.927081 5.98129 0.927081 5.67755 1.21876Z"
                                                fill="#46A1F6"
                                                stroke="#46A1F6"
                                                stroke-linecap="round"
                                            ></path>
                                        </svg>
                                        <svg data-v-04cc4206="" width="34" height="13" viewBox="0 0 34 13" fill="none" xmlns="http://www.w3.org/2000/svg" class="slick-arrow-next" style="cursor: pointer;">
                                            <path
                                                data-v-04cc4206=""
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M28.3224 1.21876L33.2722 5.97188C33.5759 6.26355 33.5759 6.73645 33.2722 7.02812L28.3224 11.7812C28.0187 12.0729 27.5262 12.0729 27.2225 11.7812C26.9188 11.4896 26.9188 11.0167 27.2225 10.725L30.8445 7.24688H1.24688C0.83439 7.24688 0.5 6.91249 0.5 6.5V6.5C0.5 6.08751 0.834392 5.75312 1.24688 5.75312H30.8445L27.2225 2.27501C26.9188 1.98333 26.9188 1.51043 27.2225 1.21876C27.5262 0.927081 28.0187 0.927081 28.3224 1.21876Z"
                                                fill="#46A1F6"
                                                stroke="#46A1F6"
                                                stroke-linecap="round"
                                            ></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div data-v-04cc4206="" class="body">
                                <div data-v-3d1a4f76="" data-v-04cc4206="" dir="ltr" class="slick-slider slick-initialized">
                                    <div data-v-3d1a4f76="" class="slick-list">
                                        <div data-v-e4caeaf8="" data-v-3d1a4f76="" class="slick-track" style="width: 5004px; opacity: 1; transform: translate3d(-1112px, 0px, 0px);">
                                            <div data-v-e4caeaf8="" tabindex="-1" data-index="-4" aria-hidden="true" class="slick-slide slick-cloned" style="width: 278px;">
                                                <div data-v-e4caeaf8="">
                                                    <div data-v-04cc4206="" data-v-e4caeaf8="" tabindex="-1" class="card" style="width: 100%; display: inline-block;">
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="img-wrapper"><img data-v-04cc4206="" data-v-e4caeaf8="" src="~/Image/Azam_aka.JPG" alt="" /></div>
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="card-body">
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="">Sardor Berdiyev</p>
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="" class="text-muted">Asoschi, C# Dasturchi</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-v-e4caeaf8="" tabindex="-1" data-index="-3" aria-hidden="true" class="slick-slide slick-cloned" style="width: 278px;">
                                                <div data-v-e4caeaf8="">
                                                    <div data-v-04cc4206="" data-v-e4caeaf8="" tabindex="-1" class="card" style="width: 100%; display: inline-block;">
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="img-wrapper"><img data-v-04cc4206="" data-v-e4caeaf8="" src="~/Image/Nuriddin_aka.jpg" alt="" /></div>
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="card-body">
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="">Nuriddin Xaydarov</p>
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="" class="text-muted">Asoschi, C# Dasturchi</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-v-e4caeaf8="" tabindex="-1" data-index="-2" aria-hidden="true" class="slick-slide slick-cloned" style="width: 278px;">
                                                <div data-v-e4caeaf8="">
                                                    <div data-v-04cc4206="" data-v-e4caeaf8="" tabindex="-1" class="card" style="width: 100%; display: inline-block;">
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="img-wrapper"><img data-v-04cc4206="" data-v-e4caeaf8="" src="~/Image/Muhammaddiyor_aka.jpg" alt="" /></div>
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="card-body">
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="">Muhammaddiyor Imomnazarov</p>
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="" class="text-muted">Asoschi, C# dasturchi</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-v-e4caeaf8="" tabindex="-1" data-index="-1" aria-hidden="true" class="slick-slide slick-cloned" style="width: 278px;">
                                                <div data-v-e4caeaf8="">
                                                    <div data-v-04cc4206="" data-v-e4caeaf8="" tabindex="-1" class="card" style="width: 100%; display: inline-block;">
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="img-wrapper"><img data-v-04cc4206="" data-v-e4caeaf8="" src="~/Image/Abdulaziz.JPG" alt="" /></div>
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="card-body">
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="">Abdulaziz Abduqaxxorov</p>
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="" class="text-muted">Asoschi, C# dasturchi</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-v-e4caeaf8="" tabindex="-1" data-index="0" aria-hidden="false" class="slick-slide slick-active slick-current" style="outline: currentcolor none medium; width: 278px;">
                                                <div data-v-e4caeaf8="">
                                                    <div data-v-04cc4206="" data-v-e4caeaf8="" tabindex="-1" class="card" style="width: 100%; display: inline-block;">
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="img-wrapper"><img data-v-04cc4206="" data-v-e4caeaf8="" src="~/Image/Azam_aka.JPG" alt="" /></div>
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="card-body">
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="">G'olibjon Turdialiyec</p>
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="" class="text-muted">Oshhona mebelar</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-v-e4caeaf8="" tabindex="-1" data-index="1" aria-hidden="false" class="slick-slide slick-active" style="outline: currentcolor none medium; width: 278px;">
                                                <div data-v-e4caeaf8="">
                                                    <div data-v-04cc4206="" data-v-e4caeaf8="" tabindex="-1" class="card" style="width: 100%; display: inline-block;">
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="img-wrapper"><img data-v-04cc4206="" data-v-e4caeaf8="" src="~/Image/Nuriddin_aka.jpg" alt="" /></div>
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="card-body">
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="">Nuriddin Xayrullayev</p>
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="" class="text-muted">Yotoqxona Mebelar</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-v-e4caeaf8="" tabindex="-1" data-index="2" aria-hidden="false" class="slick-slide slick-active" style="outline: currentcolor none medium; width: 278px;">
                                                <div data-v-e4caeaf8="">
                                                    <div data-v-04cc4206="" data-v-e4caeaf8="" tabindex="-1" class="card" style="width: 100%; display: inline-block;">
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="img-wrapper"><img data-v-04cc4206="" data-v-e4caeaf8="" src="~/Image/Muhammaddiyor_aka.jpg" alt="" /></div>
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="card-body">
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="">Muhammad Diyor</p>
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="" class="text-muted">Oshxona mebelar</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-v-e4caeaf8="" tabindex="-1" data-index="3" aria-hidden="false" class="slick-slide slick-active" style="outline: currentcolor none medium; width: 278px;">
                                                <div data-v-e4caeaf8="">
                                                    <div data-v-04cc4206="" data-v-e4caeaf8="" tabindex="-1" class="card" style="width: 100%; display: inline-block;">
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="img-wrapper"><img data-v-04cc4206="" data-v-e4caeaf8="" src="~/Image/man.JPG" alt="" /></div>
                                                        <div data-v-04cc4206="" data-v-e4caeaf8="" class="card-body">
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="">Abdulaziz Abduqaxxorov</p>
                                                            <p data-v-04cc4206="" data-v-e4caeaf8="" class="text-muted">Istalgan turdagi mebel</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
